* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.canvas {
    width: 100%;
    height: 611px;
}

.position {
    display: flex;
    flex-direction: column;
}

#timer {
    background-color: black; 
    width: 100px; 
    height: 50px; 
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
    font-family: 'Press Start 2P', cursive;
}

.life {
    position: absolute; 
    display: flex; 
    width: 100%; 
    align-items: center; 
    padding: 20px;
}

.psaude {
    position: relative; 
    width: 100%;
    display: flex; 
    justify-content: flex-end;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}

#saude1 {
    position: absolute; 
    background: #818CF8; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
}

.bsaude {
    position: relative;
    width: 100%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

#saude2 {
    position: absolute;
    background: #818cf8;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#resultado {
    position: absolute; 
    color: white; display: 
    flex; align-items: center; 
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    font-family: 'Press Start 2P', cursive;
}

.reset {
    width: 8%;
    position: absolute;
    top: 40%;
    left: 35%;
    right: 35%;
    display: none;
}

/* Inicio Menu Central */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(39, 21, 21);
    width:100%;
}


.menu2 {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    transition: .4s;
}

.menu2:hover {
    color: yellow;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 0;
}

.menu li a {
    display: block;
    padding: 10px;
    margin-right: 50px;
}

.logo2 {
    max-width: 60px;
    display: block;
    margin-left: 50px;
    padding: 6px;
}

/* Fim do Menu */

/* Inicio Sectio One */

.section-one {
    width: 200px;
}

.container-one {
    width: 100px;
    display: flex;
}

/* Fim Section One */

/* Inicio do Pop-Up */
.container-inst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.p1 {
    display: flex;
    width: 260px;
    justify-content: center;
}

.p2 {
    display: flex;
    width: 260px;
    justify-content: center;
}

pre {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.popup-wrapper {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    font-family: Arial;
    text-align: center;
    width: 100%;
    max-width: 560px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
}

.popup a {
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background: crimson;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/* Fim do Pop-Up */